<h2>Child Component For Web</h2>
<div class = 'container'>
    <img [src]='myImage' width="324" height="155">
    <div class="card-body">
        <p class="card-text">Angular is an application design framework and development platform for creating efficient and sophisticated single-page apps.</p>
        <p>These Angular docs help you learn and use the Angular framework and development platform, from your first application to optimizing complex single-page apps for enterprises.</p>
        <p>Tutorials and guides include downloadable examples to accelerate your projects.</p>
        <a href="https://angular.io/guide/forms" class="btn btn-primary">Learn Angular</a>
      </div>
</div>
 


