<h2>Child Component For Web</h2>
<div class = 'container'>
    <img [src]='myImage' width="324" height="155">
    <div class="card-body">
        <p class="card-text">This Java 8 tutorial list down important Java 8 features with examples which were introduced in this release.</p>
        <p>All features have links to detailed tutorials such as lambda expressions, Java streams, functional interfaces and date time API changes.</p>
        <p>Java SE 8 was released in early 2014. In java 8, most talked about feature was lambda expressions.</p>
        <p> It has many other important features as well such as default methods, stream API and new date/time API.</p>
        <a href="https://howtodoinjava.com/java-8-tutorial/" class="btn btn-primary">Learn Java 8 features</a>
      </div>
</div>
 

